POKODLER_APP_NAME=
POKODLER_LOG_LEVEL=
POKODLER_DOWNLOAD_DIR=
POKODLER_DB_HOST=
POKODLER_DB_PORT=
POKODLER_DB_NAME=
POKODLER_DB_USER=
POKODLER_DB_PASSWORD=
POKODLER_DB_SSLMODE=
POKODLER_SPOTIFY_CLIENT_ID=
POKODLER_SPOTIFY_CLIENT_SECRET=
POKODLER_SPOTIFY_REDIRECT_URI=
POKODLER_SPOTIFY_SP_DC=
POKODLER_MAX_CONCURRENT_DOWNLOADS=
POKODLER_CLEANUP_DAYS=
